{% extends "base.html" %} 

{% block content %}

<section class="hero is-small is-primary-dark p-5 has-text-centered">
<h1 class="title is-white"><strong>{{ habit.title }}</strong> Daily Record</h1>
</section>


<div class="columns"> 
    <div class="column is-quarter"></div>
    <div class="column is-half">
        <div class="box has-text-centered">
            <table class="table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Note</th>
                    </tr>
                </thead>
                {% for daily_record in daily_records %}
                <tbody>
                    <tr>
                        <td>{{ daily_record.date|date:'Y-m-d' }}</td>
                        <td>{{ daily_record.note }}</td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="column is-quarter"></div>
    </div>
{% endblock %}