{% extends "base.html" %} 

{% block content %}

<br>
<br>
<div class="box has-text-centered has-background-primary box-radius-large p-6">
    <div class="title pb-5 has-text-white">Ready to start tracking your habits?</div>
    <div class="subtitle mt-5 has-text-white">First, lets</div>
    <div><a class="button is-light" href="/accounts/login">Log in</a></div>
    <br>
    <div class="subtitle has-text-white">or</div>
    <div><a class="button has-text-primary is-light" href="/accounts/register">Register</a></div>
</div>

{% endblock %}