{% extends "base.html" %}

{% block content %}
<section class="hero p-5 has-text-centered">
    <h1 class="title">Create a new Habit</h1>
    <p class="subtitle"><a href="{% url 'list_habits' %}" class="has-text-grey">Return to Habits</a></p>
</section>

{% load bulma_tags %}
{# Display a form #}
<div class="columns has-text-centered">
    <div class="column is-quarter"></div>
    <div class="column is-half">
        <div class="control m-5 has-text-centered">
            <form class="form" action="{% url 'new_habit' %}" method="POST">
                {% csrf_token %}
                {{ form|bulma }}
                <div class="field">
                    <button type="submit" class="button is-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
    <div class="column is-quarter"></div>
</div>
{% endblock %}